{{ define "main" }}
<main>
  <!-- Just for the rebuild -->
  <div
    class="hero"
    style="background-image: url({{ .Site.Params.homepageImage }});"
  >
    <blockquote>{{ .Site.Params.homepageQuote }}</blockquote>
  </div>
  <section class="mission">
    <h2>Our Mission</h2>
    <p>
      Harmony Primary School aims to bring out the best in each individual,
      striving for excellence on a daily basis; at HPS we lay down strong
      academic roots as our children are enriched by a broad, balanced
      curriculum that nurtures their abilities. Our school harmoniously bring
      together our children, parents & educators to cultivate an inspiring
      learning experience rooted in an Islamic ethos.
    </p>
    <a
      class="file-download-light"
      href="./our-school/Harmony Primary School Prospectus.pdf"
    >
      <!-- <img src="/document-download.svg" /> -->
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 64 64"
        enable-background="new 0 0 64 64"
        xml:space="preserve"
      >
        <g>
          <path
            fill="#FFFFFF"
            d="M45.8,0H10C7.8,0,6,1.8,6,4v56c0,2.2,1.8,4,4,4h44c2.2,0,4-1.8,4-4V11.1L45.8,0z M47,6.5l3.8,3.5H47V6.5z M10,60V4h33v10
                h11l0,46H10z"
          />
          <polygon
            fill="#FFFFFF"
            points="42.3,34.5 39.7,31.5 34,36.5 34,18 30,18 30,36.5 24.3,31.5 21.7,34.5 32,43.7 	"
          />
          <rect fill="#FFFFFF" x="16" y="48" width="32" height="4" />
        </g>
      </svg>
      Harmony Primary School Prospectus
    </a>
  </section>

  <section class="values">
    <h2>Our Values</h2>
    <div class="container">
      <div class="value">
        <h3>Community</h3>
        <p>
          Encouraging our pupils to take their place in the heart of our
          communities.
        </p>
      </div>
      <div class="value">
        <h3>Excellence</h3>
        <p>
          Nurturing an environment of excellence for pupil and teacher.
        </p>
      </div>
      <div class="value">
        <h3>Discipline</h3>
        <p>
          Establishing a positive work ethic in all our pupils.
        </p>
      </div>
      <div class="value">
        <h3>Achievement</h3>
        <p>
          A broad and balanced curriculum enabling students to aim and reach
          high.
        </p>
      </div>
      <div class="value">
        <h3>Respect</h3>
        <p>
          Cultivating social consciousness to the wider community.
        </p>
      </div>
    </div>
  </section>
  <!-- <section class="location">
    <div class="details">
        <div class="locate-us">
            <h2>Locate Us</h2>
            <p>Harmony Primary School</br>
                80 Gayton Road</br>
                Harrow</br>
                HA1 2LS</br>
            </p>
        </div>

        <div class="contact-us">
            <h2>Contact Us</h2>
            <p>Email: admin@harmonyprimaryschool.co.uk</p>
            <p>Call: 0208 427 4688</p>
        </div>
    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.364618499211!2d-0.3265050845685338!3d51.5798805132226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761398d3159fbd%3A0x9c056f33e45f8312!2s80%20Gayton%20Rd%2C%20Harrow%20HA1%202LS!5e0!3m2!1sen!2suk!4v1595093787792!5m2!1sen!2suk" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section> -->
</main>
{{ end }}
